@font-face {
    font-family: VanillaCreamOx;
    src: url("../assets/VanillaCreamOx-Regular.otf");
}

:root {
    --rust-color: black;
    --rusty-red: 218, 44, 67;
}

* {
    font-family: VanillaCreamOx;
    font-weight: bolder;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0;
    background-image: url("../assets/RUSTY_BG_0.png");
    transition: background-image 1s ease-in-out;
}

#slots-container {
    height: auto;
    width: 775px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-width: 5px;
    border-style: solid none solid solid;
}

.slot-cell {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: var(--rust-color);
    border-width: 5px;
    border-style: none solid none none;
}

.slot-wrapper {
    width: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: slideUp 0.75s linear infinite;
}

.slot-keyframe {
    width: 150px;
    height: 150px;
}

.winning-slot-keyframe {
    animation: blinkRed 1s ease-in-out infinite;
}

.slot-keyframe img {
    width: 150px;
    height: 150px;
}

@keyframes blinkRed {
    0% {
        background-color: var(--rust-color);
    }
    50% {
        background-color: rgb(var(--rusty-red));
    }
    100% {
        background-color: var(--rust-color);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1500px);
    }
}

#game-container {
    display: flex;
    justify-content: center;
}

.line-marker {
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    padding: 7px;
    font-size: 1.25em;
    background-color: transparent;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
}

#line-marker-1 {
    position: fixed;
    top: calc(460px / 6 + 10px - 38px + 1.5px);
    left: 200px;
}

#line-marker-2 {
    position: fixed;
    top: calc(460px / 2 + 10px - 19px);
    left: 200px;
}

#line-marker-3 {
    position: fixed;
    top: calc(460px / 2 + 460px / 3 + 10px - 38px + 1.5px);
    left: 200px;
}

#line-marker-4 {
    position: fixed;
    top: calc(460px / 6 + 10px);
    left: 200px;
}

#line-marker-5 {
    position: fixed;
    top: calc(460px / 2 + 460px / 3 + 10px);
    left: 200px;
}

canvas {
    position: fixed;
    top: 10px;
    left: 250px;
    width: 780px;
    height: 460px;
}

#footer-container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#double-button {
    position: fixed;
    top: 595px;
    left: 645px;
    width: 95px;
    height: 45px;
    margin-top: 9px;
    margin-bottom: 9px;
    z-index: 0;
    border-radius: 25px;
    border-style: none;
    background-color: transparent;
    text-align: right;
    font-size: 1.5em;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
}

#double-button:hover {
    background-image: radial-gradient(circle at left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 43px, rgba(var(--rusty-red), 0.5) 25px);
    box-shadow: 0px 0px 20px rgba(var(--rusty-red), 0.5);
    clip-path: inset(-20px -20px -20px 38px);
}

#double-button:disabled {
    color: white;
    text-shadow: 0px 0px 5px white;
}

#spin-button {
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    font-size: 2em;
    z-index: 1;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
}

#spin-button:hover {
    background-color: rgba(var(--rusty-red), 0.5);
    box-shadow: 0px 0px 20px rgba(var(--rusty-red), 0.5);
}

#spin-button:disabled {
    color: white;
    text-shadow: 0 0 5px white;
}

#bet-select {
    display: flex;
    gap: 10px;
}

.bet-select-cell {
    width: 140px;
    height: 40px;
    margin: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
    background-color: transparent;
}

.bet-select-cell:hover {
    background-color: rgba(var(--rusty-red), 0.5);
    box-shadow: 0px 0px 20px rgba(var(--rusty-red), 0.5);
}

.bet-selected {
    color: white;
    text-shadow: 0 0 5px white;
}

#footer-button-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#lost-display {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    height: 100px;
    width: 400px;
    font-size: 3em;
    background-color: transparent;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
    border-style: solid;
    border-width: 5px;
    border-color: transparent;

}

#won-display {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    height: 100px;
    width: 400px;
    font-size: 3em;
    background-color: transparent;
    color: rgb(var(--rusty-red));
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
    border-style: solid;
    border-width: 5px;
    border-color: transparent;

}

#double-container {
    padding: 10px;
    position: fixed;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-width: 5px;
    width: 770px;
    height: 450px;
    left: 250px;
    top: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.double-color-button {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 50%;
    font-size: 2em;
    margin: 0 10px;
}

#last-cards-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#last-drawn-cards {
    display: flex;
    flex-direction: row;
}

.drawn-card {
    width: 100px;
    height: 167px;
    background-image: url("../assets/RED_ACE.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#select-double-container {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

@keyframes flicker {
    0% {
        background-image: url("../assets/RED_ACE.png");
    }
    100% {
        background-image: url("../assets/BLACK_ACE.png");
    }
}

#card-flicker {
    width: 100px;
    height: 167px;
    background-image: url("../assets/RED_ACE.png");
    background-size: cover;
    background-color: white;
    background-position: center center;
    animation-name: flicker;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
}

#exit-double-button {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 10px;
}

#exit-double-button:hover {
    background-color: red;
}

#double-red:hover {
    background-color: red;
}

#double-black:hover {
    background-color: black;
    color: white;
}

#greyed-out-background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
    visibility: hidden;
}

#current-amount-won {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, 0);
    font-size: 1.25em;
    visibility: hidden;
    background-color: transparent;
    color: rgb(var(--rusty-red));
    border-color: transparent;
    border-width: 5px;
    padding: 2px;
    border-style: solid;
    text-shadow: 0px 0px 5px rgb(var(--rusty-red));
}
